.product {
    padding: 60px 15px;
    text-align: center;

    .product-block
    {
        background: transparent;
        padding: 1em;
    }
    .product-info {
        background: #ececec;
        padding: 1em;
    }
}